.hero{
    height:822px;
    padding:230px 0;
    background-image: url('../assets/Desktop_Backgrounds_1920x1200_6\ 3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero h3{
    font-family: 'Source Sans 3', sans-serif;
    color: rgba(255, 255, 255, 0.7);
}

.logo{
    margin-bottom: 13px;
}

#about{
    height:700px;
    background-color: #EEEEEE;
}

#about h2{
    margin-bottom: 40px;
}

#about h3{
    margin-bottom: 48px;
}

.text-container{
    justify-content: space-between;
    text-align: left;
    margin-bottom: 46px;
}

#about p{
    width:45%;
}

#stories{
    height:637px;
    background-image: url('../assets/IMG_1334_72dpi_RGB_\ 1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
    z-index:100;
}

#stories::before{
    content: "";
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgba(140, 79, 42, 0.3);
    z-index:-1;
}

#stories h2{
    color:#FFFFFF;
    margin-bottom: 53px;
}

#stories button{
    width:145px;
    height:143px;
    border-radius: 50%;
    padding: 34px 30px 46px 39px;
    margin-bottom: 70px;
}

#stories h3{
    color:#FFFFFF;
}