@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Source+Sans+3:wght@400;600&display=swap');

:root {
    --blue-color: #55C2D8;
    --heading-font: 'Oswald', sans-serif;
    --dark-gray: #464547;
    --light-gray: #666666;
    --light: #ffffff;
  }

body{
    flex-wrap:wrap;
    font-family:'Source Sans 3', sans-serif;
    background: var(--main-bg-color);
}

.flex{
    display:flex;
}


section{
    flex:1 0 100%;
    height:700px;
    padding:80px 0;

}

.container{
    width:75%;
    margin:0 auto;
    text-align: center;
}

button{
    background-color: var(--blue-color) ;
    border: none;
    border-radius: 18px;
    color:var(--light);
    text-transform: uppercase;
    font-size:14px;
    font-family: var(--heading-font);
    letter-spacing: 0.1em;
    line-height: 26px;
    width:115px;
    height:36px;
    padding:5px 17px 6px 18px;
    font-weight: 400;
}

h1{
    font-weight:700;
    font-size:48px;
    font-family: var(--heading-font);
    line-height: 64px;
    color: var(--light);
    margin-bottom: 42px;
}

h2{
    color: var(--dark-gray);
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    font-family: var(--heading-font);
}

h3{
    font-size:24px;
    font-weight: 400;
    line-height: 32px;
    color:var(--light-gray);
    margin-bottom: 48px;
}

p{
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color:var(--light-gray);
}